.header_add{
    background-color: #0A2442;
    /* border-radius: 45px; */
    
    color: white;
}
.title{
    text-align: center;
    font-size: x-large;
    /* border: 3px solid white; */
    padding-top: 3%;
    padding-bottom: 3%;
}
.addimg{
    /* border: 3px solid white; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.img{
    width: 60vw;
    height: 60vw;
    margin-left: 20%;
}
.zulinxinxi{
    margin-top: 9%;
    font-size: large;
}
.zhulin_text{
    width: 85%;
    margin: 0 auto;
    font-weight: bolder;
    /* border: solid black 3px; */
    padding-bottom: 3%;
}
.detail{
    width: 85%;
    margin: 0 auto;
    /* border: solid black 3px; */
    padding-bottom: 3%;
    padding-top: 3%;
    display: flex;
}
.leftx{
    width: 50%;
    /* border: solid black 3px; */
    
}
.rightinput{
    width: 45%;
    margin-left: 5%;
}
.zulindetil{
    margin-top: 4%;
    /* border: 3px red solid; */
}
.textarea{
    border: solid black 3px;
    min-width: 85%;
    min-height: 20%;
    margin: 0 auto;
}
.buttom{
    /* border: solid black 3px; */
    width: 100%;
    margin-top: 4%;
}
.sure{
    width: 75%;
    border: solid red 3px;
    margin: 0 auto;
    color: aliceblue;
    background-color: #0A2442;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: larger;
    border-radius: 45px;
}
