.header{
    /* border: solid black 3px; */
    background-color: #0A2442;
    border-radius: 0 0 45px 45px;
    color: white;
}
.title_container{
    /* border: solid white 3px; */
    display: flex;
    justify-content: space-between;
}
.title_text{
    /* border: solid white 3px; */
    width: 100%;
    text-align: center;
    padding-top: 5%;
    font-size: x-large;
    padding-bottom: 10%;
}
.con{
    width: 87%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    height: 200px;
    border-radius: 50px;
    background-color: #F9F9FB;
    margin-top: 3%;
}
.lc{
    width: 30%;
    height: 200px;
    border-radius:50px;
    overflow: hidden;
}
.lc_img{
    height: 200px;
    width: 200px;
}
.rc{
    width: 60%;
    margin-left: 10%;
    display: block;
    /* border: 3px red solid; */
}
.l1{
    font-weight: bold;
    text-align: start;
    padding: 3%;
}
.l2{
    font-style: oblique;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0 auto;
    /* border: solid black 3px; */
    margin-top: 10%;
    /* text-align: center; */
}
.ti{
    /* margin-top: 3%; */
    width: 85%;
    font-style: oblique;
    font-weight: bolder;
    margin: 0 auto;
    /* font-size: large; */
    /* margin-bottom: 3%; */
    /* border: 3px; */
}
.tb{
    width: 85%;
    display: flex;
    border-radius: 50px;
    background-color: #E5E5E5;
    margin: 0 auto;
    margin-top: 6%;
    padding: 3%;
}
.lth{
    width: 50%;
    font-weight: lighter;
    font-size: large;
}
.rth{
    width: 50%;
    font-weight: bolder;
    font-size: large;
}
.time{
    width: 85%;
    padding: 3%;

}
.time{
    width: 85%;
    padding: 3%;

}
.inp{
    display: flex;
    width: 85%;
    /* border: 3px black solid; */
    margin: 0 auto;
    font-size: large;
}
.info{
    margin-top: 6%;
    /* border: 3px solid black; */
}